{% load static %}

{% with location|add:"pages/1.jpg" as page1 %}
    <div class="page" style="background-image:url({% static page1 %})"></div>
{% endwith %}

{% with location|add:"pages/2.jpg" as page2 %}
    <div class="page" style="background-image:url({% static page2 %})"></div>
{% endwith %}

{% with location|add:"pages/3.jpg" as page3 %}
    <div class="page" style="background-image:url({% static page3 %})"></div>
{% endwith %}

{% with location|add:"pages/4.jpg" as page4 %}
    <div class="double" style="background-image:url({% static page4 %})"></div>
{% endwith %}

{% with location|add:"pages/5.jpg" as page5 %}
    <div class="page" style="background-image:url({% static page5 %})"></div>
{% endwith %}

{% with location|add:"pages/6.jpg" as page6 %}
    <div class="page" style="background-image:url({% static page6 %})"></div>
{% endwith %}

{% with location|add:"pages/7.jpg" as page7 %}
    <div class="double" style="background-image:url({% static page7 %})"></div>
{% endwith %}

{% with location|add:"pages/8.jpg" as page8 %}
    <div class="page" style="background-image:url({% static page8 %})"></div>
{% endwith %}

{% with location|add:"pages/9.jpg" as page9 %}
    <div class="page" style="background-image:url({% static page9 %})"></div>
{% endwith %}

{% with location|add:"pages/10.jpg" as page10 %}
    <div class="double" style="background-image:url({% static page10 %})"></div>
{% endwith %}

{% with location|add:"pages/11.jpg" as page11 %}
    <div class="double" style="background-image:url({% static page11 %})"></div>
{% endwith %}

{% with location|add:"pages/12.jpg" as page12 %}
    <div class="double" style="background-image:url({% static page12 %})"></div>
{% endwith %}

{% with location|add:"pages/13.jpg" as page13 %}
    <div class="double" style="background-image:url({% static page13 %})"></div>
{% endwith %}

{% with location|add:"pages/14.jpg" as page14 %}
    <div class="double" style="background-image:url({% static page14 %})"></div>
{% endwith %}

{% with location|add:"pages/15.jpg" as page15 %}
    <div class="double" style="background-image:url({% static page15 %})"></div>
{% endwith %}

{% with location|add:"pages/16.jpg" as page16 %}
    <div class="double" style="background-image:url({% static page16 %})"></div>
{% endwith %}

{% with location|add:"pages/17.jpg" as page17 %}
    <div class="double" style="background-image:url({% static page17 %})"></div>
{% endwith %}

{% with location|add:"pages/18.jpg" as page18 %}
    <div class="double" style="background-image:url({% static page18 %})"></div>
{% endwith %}

{% with location|add:"pages/19.jpg" as page19 %}
    <div class="double" style="background-image:url({% static page19 %})"></div>
{% endwith %}

{% with location|add:"pages/20.jpg" as page20 %}
    <div class="page" style="background-image:url({% static page20 %})"></div>
{% endwith %}

{% with location|add:"pages/21.jpg" as page21 %}
    <div class="page" style="background-image:url({% static page21 %})"></div>
{% endwith %}

{% with location|add:"pages/22.jpg" as page22 %}
    <div class="page" style="background-image:url({% static page22 %})"></div>
{% endwith %}