html,body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

body{
    display: grid;
    visibility: visible !important;
}

#content {
    width: 100vw;
    height: 100vh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    z-index: 2;
    grid-column: 1;
    grid-row: 1;
}

.animated_text{
    color: white;
    z-index: 1;
    animation: fade_and_move 5s ease-in;
    transform-origin: center bottom;
    opacity: 0;
    grid-column: 1;
    grid-row: 1;
    margin: 0 0 0 0;

    font-family: atrament-web, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 750%;
}

.animated_text2{
    animation-delay: 3.75s;
}

@keyframes fade_and_move {
    0% {
        opacity: 0;
        z-index: 3;
    }
    50% {
        opacity: 1;
        z-index: 3;
    }
    75% {
        opacity: 0;
    }
    100% {
        z-index: 1;
    }
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 75vh;
}

button{
    grid-column: 1;
    grid-row: 1;
    z-index: 4;
    border-radius: 100%;
    outline-style: none;
    position: absolute;
    cursor: pointer;
    opacity: 0.3;
    background: white;
    border-width: thick;
}

.weather_button{
     top: -25vh;
    left: 99vw;
    margin-left: -62.5px;
    margin-top: -62.5px;
    transform: translate(-50vw, 0vh);

}

.stock_button{
   top: -25vh;
    left: -25vw;
}

.crime_button{
    top: -25vh;
    right: -25vw;
}

.review_button{
    bottom: -25vh;
    right: -25vw;
}

.under_construction1{
    bottom: -25vh;
    left: 99vw;
    margin-left: -62.5px;
    margin-top: -62.5px;
    transform: translate(-50vw, 0vh);
}

.under_construction2{
    bottom: -25vh;
    left: -25vw;
}

img{
    height: 125px;
    width: 125px;
    border-radius: 100%;
}

